*{
    text-decoration: none;;
}

body{
    background-image:url(https://assets.bizclikmedia.net/580/6cc7fab927c0f3fdfa1763604714054c:2ac3fdd9af16eac07c03b4a968f89b55/gettyimages-1368593225.jpg);
    background-size:cover; background-repeat:no repeat; margin:0px;
}

.navbar{
    background:rgb(6, 6, 56);  width:100%;  padding: 10px 20px;
}

.View_balance{
    display:flex; 
}

li{
    list-style:none; 
}

.View_balance h1{
    color:white; font-size: 27px; font-weight: bolder; padding-left: 650px; text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
}

.Balance h2{
     background-color: whitesmoke;  color: black; padding: 20px; font-size:larger; font-weight: bolder; border-radius: 10px;
    text-align: center; margin-top:50px; width: 500px; margin-left:500px;
}